<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="GamePath" value="C:\Program Files (x86)\Steam\steamapps\common\Cities_Skylines"/>
		<add key="AppDataPath" value="C:\Users\DotCa\AppData\Local\Colossal Order\Cities_Skylines"/>
		<add key="SteamPath" value="C:\Program Files (x86)\Steam"/>
		<add key="VirtualGamePath" value="" />
		<add key="VirtualAppDataPath" value="" />
	</appSettings>
</configuration>